.container {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 1000;
}

.avatar {
    z-index: 2;
    width: 100px;
    aspect-ratio: 1;
}

.stats {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stats_unit {
    z-index: 2;
    position: relative;
    overflow: visible;
}

.stats_unit::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    height: 102%;
    width: calc(100% + 25px);
    background: white;
    pointer-events: none;
    z-index: -1;
}

.money {
    position: absolute;
    width: 150%;
    height: 250%;
    filter: contrast(1.4) brightness(1.2);
    pointer-events: none;
}