.container {
    position: absolute;
    left: -10px;
    bottom: -10px;
    z-index: 10000;
}

.grid {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "first second third";
    align-items: end;
}

.first_player {
    height: 200px;
    grid-area: first;
}

.second_player {
    height: 120px;
    grid-area: second;

}

.third_player {
    height: 120px;
    grid-area: third;
}

.active_player {
    height: 400px;
}