* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    transition-property: none !important;
    overflow-x: clip;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
